<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217668929498-3ek2ddn91idlufef7a0j5pi7mca8m65r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217668929498-3ek2ddn91idlufef7a0j5pi7mca8m65r</string>
	<key>API_KEY</key>
	<string>AIzaSyArfcVdYkfx5yIIq3r0cHWPDEeOpz51cZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>217668929498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tegsoft.touch</string>
	<key>PROJECT_ID</key>
	<string>tegsoft-touch-test</string>
	<key>STORAGE_BUCKET</key>
	<string>tegsoft-touch-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217668929498:ios:4b58d62d63d75a2bfe22e3</string>
	<key>DATABASE_URL</key>
	<string>https://tegsoft-touch-test.firebaseio.com</string>
</dict>
</plist>